body {
	background-color: rgba(20,20,20,1);
	font-family: Lato, sans-serif;
/*	height: 100%;*/
}

.header h1 {
	color: rgba(255,255,255,0.8);
	margin: 14px 0px 0px 0px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	padding-left: 22px;
}

#leftPanelContainer {
	position: absolute;
	z-index: 1;
	left: 22px;
	top: 56px;
}

#fatalCounter {
	color: #de2a0bbf;
	font-size: 60px;
	font-weight: 700;
}

#fatalCounterDesc {
	font-size: 14px;
	font-weight: 700;
	position: relative;
	top: 6px;
	letter-spacing: 1px;
  	color: #de2a0bbf;
 	text-align: left;
}

#hoverContainer {
	color: #de2a0bbf;
}

#filterContainer {
	position: absolute;
	z-index: 2;
	right: 32px;
	top: 56px;
	cursor: pointer;
}

.displaySelector {
	color: rgba(120,120,120,1);
	background: rgba(40,40,40,1);
	line-height: 24px;
	text-align: center;
	font-size: 11px;
}

.displaySelectorTitle {
	border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
}

.displaySelectorItems {
	display: flex;
	flex-direction: row;
    justify-content: space-around;
}

.displaySelectorItem {
	display: flex;
    align-items: center;
}

.displaySelectorItem:hover {
	background: rgb(60,60,60);
	color: rgb(210,210,210);
}

.filterHeader {
	display: table;
	list-style-type: none;
	background: rgba(40,40,40,1);
	color: rgba(120,120,120,1);
	height: 24px;
	width: 118px;
	line-height: 24px;
	text-align: center;
	box-sizing: border-box;
}

.filterTitle {
    font-size: 11px;
	border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
	border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #000000;
}

li {
	font-size: 10px;
	text-align: left;
}

li:hover {
	background: rgb(60,60,60);
	color: rgb(210,210,210);
}

li .filterToggle {
	background: url(/UK-Accidents/img/filterOff.png) no-repeat;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0px 5px 1px 5px;
}

li.checked .filterToggle {
	background: url(/UK-Accidents/img/filterOn.png) no-repeat;
}

#svgContainer {
    display: grid;
    height: 100%;
}

svg {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
